@charset "UTF-8";
	article,aside,blockquote,body,button,code,dd,details,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,input,legend,li,menu,nav,ol,p,pre,section,td,textarea,th,ul {
	margin:0;
	padding:0
}
body {
	font:.16rem/1.5 Helvetica Neue,Helvetica,Tahoma,Arial,PingFang SC,Hiragino Sans GB,Heiti SC,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
input,select,textarea {
	font-size:100%
}
table {
	border-collapse:collapse;
	border-spacing:0
}
li,ol,ul {
	list-style:none
}
h1,h2,h3,h4,h5,h6 {
	font-weight:400
}
em,i {
	font-style:normal
}
fieldset,img {
	border:0
}
a {
	color:inherit;
	text-decoration:none
}
button {
	outline:none;
	border:none
}
div,form,h2,h3,h4,html,li,p,span,ul {
	word-wrap:break-word;
	word-break:break-all
}
@font-face {
	font-family:zziconfont;
	src:url(https://s1.zhuanstatic.com/common/trade/font/zziconfontl2soix.eot);
	src:url(https://s1.zhuanstatic.com/common/trade/font/zziconfontl2soix.eot#iefix) format("embedded-opentype"),url(https://s1.zhuanstatic.com/common/trade/font/zziconfontl2soix.ttf) format("truetype"),url(https://s1.zhuanstatic.com/common/trade/font/zziconfontl2soix.woff) format("woff"),url(https://img1.zhuanstatic.com/common/trade/img/zziconfontl2soix.svg#zziconfont) format("svg");
	font-weight:400;
	font-style:normal
}
.iconfamily {
	font-family:zziconfont!important;
	speak:none;
	font-style:normal;
	font-weight:400;
	font-variant:normal;
	text-transform:none;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
.zziconfont {
	font-family:zziconfont,PingFangSC-Light,helvetica neue,hiragino sans gb,arial,microsoft yahei ui,microsoft yahei,simsun,sans-serif!important
}
.zziconfont-unradio:before {
	content:"\E908";
	color:#9b9b9b
}
.zziconfont-radio:before {
	content:"\E904";
	color:#f55
}
.zziconfont-amplification:before {
	content:"\E905";
	color:#6d6f73
}
.zziconfont-check:before {
	content:"\E907";
	color:#f55
}
.zziconfont-arrow:before {
	content:"\E900";
	color:#9b9b9b
}
.zziconfont-bigarrow:before {
	content:"\E901"
}
.zziconfont-share:before {
	content:"\E902"
}
.zziconfont-uncheck:before {
	content:"\E903";
	color:#9b9b9b
}
.zziconfont-collection:before {
	content:"\E906";
	color:#9b9b9b
}
.zziconfont-like:before {
	content:"\E909";
	color:#f55
}
.zziconfont-dlike:before {
	content:"\E90A";
	color:#9b9b9b
}
body {
	background:#fff
}
#react,.rooter,body,html {
	height:100%
}
.rooter {
	width:100%
}
.rooter.iphonex .bottom-submit {
	padding-bottom:.27rem
}
.bottom-place,.bottom-submit {
	height:1.30667rem
}
.bottom-submit {
	background:#fff;
	position:fixed;
	bottom:0
}
.bottom-submit-btn {
	width:9.36rem;
	height:.96rem;
	line-height:.96rem;
	text-align:center;
	margin:.13333rem .32rem;
	font-size:.42667rem;
	color:#fff;
	border-radius:.13333rem;
	background:#f55
}
.bottom-submit-btn span.not {
	opacity:.2
}
.split-line {
	content:"";
	display:block;
	width:100%;
	height:.32rem;
	background:#f8f8f8
}
.am-toast {
	font-size:.34667rem
}
.single-card {
	position:relative
}
.am-image-picker-list {
	padding:0;
	margin-bottom:0
}
.am-picker-popup-header {
	background:none
}
.am-picker-popup-item {
	padding:.53333rem .57333rem;
	font-size:.45333rem;
	color:#f55;
	letter-spacing:0
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx) {
	html:not([data-scale]) .am-picker-popup-header:after {
	height:0
}
}.zz-picker {
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center
}
.zz-picker-item {
	-webkit-flex:1;
	-ms-flex:1;
	flex:1;
	text-align:center
}
.zz-picker-col {
	display:block;
	position:relative;
	height:8.02667rem;
	overflow:hidden;
	width:100%
}
.zz-picker-col-content {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	z-index:1;
	padding:3.44rem 0
}
.zz-picker-col-item {
	-ms-touch-action:manipulation;
	touch-action:manipulation;
	height:1.14667rem;
	line-height:1.14667rem;
	font-size:.50667rem;
	color:#c6c6c6;
	text-align:center;
	white-space:nowrap;
	text-overflow:ellipsis
}
.zz-picker-col-item-selected {
	color:#2e3135
}
.zz-picker-col-mask {
	top:0;
	height:100%;
	margin:0 auto;
	background-image:-webkit-linear-gradient(top,hsla(0,0%,100%,.95),hsla(0,0%,100%,.6)),-webkit-linear-gradient(bottom,hsla(0,0%,100%,.95),hsla(0,0%,100%,.6));
	background-image:linear-gradient(180deg,hsla(0,0%,100%,.95),hsla(0,0%,100%,.6)),linear-gradient(0deg,hsla(0,0%,100%,.95),hsla(0,0%,100%,.6));
	background-position:top,bottom;
	background-size:100% 3.44rem;
	background-repeat:no-repeat
}
.zz-picker-col-indicator,.zz-picker-col-mask {
	position:absolute;
	left:0;
	width:100%;
	z-index:3
}
.zz-picker-col-indicator {
	border-top:1px solid #e7e7e7;
	border-bottom:1px solid #e7e7e7;
	box-sizing:border-box;
	height:1.14667rem;
	top:3.44rem
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx) {
	html:not([data-scale]) .zz-picker-col-indicator {
	border-top:none
}
html:not([data-scale]) .zz-picker-col-indicator:before {
	content:"";
	position:absolute;
	background-color:#e7e7e7;
	display:block;
	z-index:1;
	top:0;
	right:auto;
	bottom:auto;
	left:0;
	width:100%;
	height:1px;
	-webkit-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	transform-origin:50% 50%;
	-webkit-transform:scaleY(.5);
	-ms-transform:scaleY(.5);
	transform:scaleY(.5)
}
}@media (-webkit-min-device-pixel-ratio:2) and (-webkit-min-device-pixel-ratio:3),(min-resolution:2dppx) and (min-resolution:3dppx) {
	html:not([data-scale]) .zz-picker-col-indicator:before {
	-webkit-transform:scaleY(.33);
	-ms-transform:scaleY(.33);
	transform:scaleY(.33)
}
}@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx) {
	html:not([data-scale]) .zz-picker-col-indicator {
	border-bottom:none
}
html:not([data-scale]) .zz-picker-col-indicator:after {
	content:"";
	position:absolute;
	background-color:#e7e7e7;
	display:block;
	z-index:1;
	top:auto;
	right:auto;
	bottom:0;
	left:0;
	width:100%;
	height:1px;
	-webkit-transform-origin:50% 100%;
	-ms-transform-origin:50% 100%;
	transform-origin:50% 100%;
	-webkit-transform:scaleY(.5);
	-ms-transform:scaleY(.5);
	transform:scaleY(.5)
}
}@media (-webkit-min-device-pixel-ratio:2) and (-webkit-min-device-pixel-ratio:3),(min-resolution:2dppx) and (min-resolution:3dppx) {
	html:not([data-scale]) .zz-picker-col-indicator:after {
	-webkit-transform:scaleY(.33);
	-ms-transform:scaleY(.33);
	transform:scaleY(.33)
}
}.rooter.pc,.rooter.pc .bottom-submit,.rooter.pc .ship {
	width:970px;
	margin:0 auto
}
.rooter.pc .bottom-submit-btn {
	width:12rem
}
.input-flow-item {
	position:relative;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	padding:0 .32rem;
	min-height:1.44rem;
	background-color:#fff;
	vertical-align:middle;
	overflow:hidden;
	-webkit-transition:background-color .2s;
	transition:background-color .2s;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center
}
.input-flow-item.input-item {
	height:1.44rem
}
.input-flow-item.left .input-control input {
	text-align:left
}
.input-flow-item:not(:last-child) .input-flow-line {
	border-bottom:1px solid #e7e7e7
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx) {
	html:not([data-scale]) .input-flow-item:not(:last-child) .input-flow-line {
	border-bottom:none
}
html:not([data-scale]) .input-flow-item:not(:last-child) .input-flow-line:after {
	content:"";
	position:absolute;
	background-color:#e7e7e7;
	display:block;
	z-index:1;
	top:auto;
	right:auto;
	bottom:0;
	left:0;
	width:100%;
	height:1px;
	-webkit-transform-origin:50%
      100%;
	-ms-transform-origin:50% 100%;
	transform-origin:50% 100%;
	-webkit-transform:scaleY(.5);
	-ms-transform:scaleY(.5);
	transform:scaleY(.5)
}
}@media (-webkit-min-device-pixel-ratio:2) and (-webkit-min-device-pixel-ratio:3),(min-resolution:2dppx) and (min-resolution:3dppx) {
	html:not([data-scale]) .input-flow-item:not(:last-child) .input-flow-line:after {
	-webkit-transform:scaleY(.33);
	-ms-transform:scaleY(.33);
	transform:scaleY(.33)
}
}.input-flow-item .input-flow-line {
	position:relative;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex:1;
	-ms-flex:1;
	flex:1;
	-webkit-align-self:stretch;
	-ms-flex-item-align:stretch;
	align-self:stretch;
	padding-right:.2rem;
	overflow:hidden;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center
}
.input-flow-item .input-label {
	-webkit-flex:1;
	-ms-flex:1;
	flex:1;
	margin-left:0;
	text-align:left;
	white-space:nowrap;
	overflow:hidden;
	padding:.03rem 0;
	font-size:.42667rem;
	color:#2e3135
}
.input-flow-item .input-control {
	-webkit-flex:2;
	-ms-flex:2;
	flex:2
}
.input-flow-item .input-control input {
	color:#666;
	font-size:.42667rem;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	width:100%;
	padding:.03rem 0;
	border:0;
	background-color:transparent;
	line-height:.53333rem;
	box-sizing:border-box;
	text-align:right
}
.input-flow-item .input-control input::-webkit-input-placeholder {
	color:#9b9b9b;
	line-height:1.2
}
.input-flow-item .input-control input:-ms-input-placeholder {
	color:#9b9b9b;
	line-height:1.2
}
.input-flow-item .input-control input::placeholder {
	color:#9b9b9b;
	line-height:1.2
}
.input-flow-item .input-clear {
	display:none;
	width:.42667rem;
	height:.42667rem;
	border-radius:50%;
	overflow:hidden;
	font-style:normal;
	background-image:url("data:image/png;
	base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAATlBMVEUtMjUAAAAvMzbv7+9TV1kvMzUvMjUvMzczMzNVVVX9/f3KzMycnZ8xNjY1NTVpbW43Nzf4+Pjy8vLn5+nDxMapq6yFiYtESUva2tv///8ZdTgiAAAAGXRSTlNmAGLlcllOPAoD/LiVNB16EvPp2bKdiG3J6xB7owAAAN9JREFUOMuFk+uawiAMRKdYCKxb6nVd3v9FRWWoqfbL/KKc03JpgqEnZQneOR8kp2W2C1EcepzElZAmYipTehdiwEdCXISDx5f4A4VIvjbiS0gBGwnpKUzYzPQQotsWXKyC8Onv1sE8t4EMSI687MY2/P058RMJmW/ddtVovFw4myFgxmZUvgcjCNCG5hV7aOOqeMUO2iiKw2kB11KOoxa4BPd/5Fm4RNB8z7P0TYrmgDYEecVXRl6uen7yZpyXqx6EwunST3v+5wrm77YKxiw5q2jNsrcbx249u3nN9r8DiGEJf/R9px8AAAAASUVORK5CYII=");
	background-repeat:no-repeat;
	background-size:cover
}
.input-flow-item.input-focus .input-clear {
	display:block
}
.input-flow-item .input-extra {
	-webkit-flex:initial;
	-ms-flex:initial;
	flex:initial;
	min-width:0;
	max-height:.67rem;
	overflow:hidden;
	padding-right:0;
	line-height:.67rem;
	color:#ccc;
	font-size:.4rem;
	margin-left:.2rem
}
.sr-only {
	position:absolute;
	width:1px;
	height:1px;
	padding:0;
	margin:-1px;
	overflow:hidden;
	clip:rect(0,0,0,0);
	white-space:nowrap;
	border:0
}
@charset "UTF-8";
	article,aside,blockquote,body,button,code,dd,details,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,input,legend,li,menu,nav,ol,p,pre,section,td,textarea,th,ul {
	margin:0;
	padding:0
}
body {
	font:.16rem/1.5 Helvetica Neue,Helvetica,Tahoma,Arial,PingFang SC,Hiragino Sans GB,Heiti SC,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	background:#fff
}
input,select,textarea {
	font-size:100%
}
table {
	border-collapse:collapse;
	border-spacing:0
}
li,ol,ul {
	list-style:none
}
h1,h2,h3,h4,h5,h6 {
	font-weight:400
}
em,i {
	font-style:normal
}
fieldset,img {
	border:0
}
a {
	color:inherit;
	text-decoration:none
}
button {
	outline:none;
	border:none
}
div,form,h2,h3,h4,html,li,p,span,ul {
	word-wrap:break-word;
	word-break:break-all
}
@font-face {
	font-family:zziconfont;
	src:url(https://s1.zhuanstatic.com/common/trade/font/zziconfontl2soix.eot);
	src:url(https://s1.zhuanstatic.com/common/trade/font/zziconfontl2soix.eot#iefix) format("embedded-opentype"),url(https://s1.zhuanstatic.com/common/trade/font/zziconfontl2soix.ttf) format("truetype"),url(https://s1.zhuanstatic.com/common/trade/font/zziconfontl2soix.woff) format("woff"),url(https://img1.zhuanstatic.com/common/trade/img/zziconfontl2soix.svg#zziconfont) format("svg");
	font-weight:400;
	font-style:normal
}
.iconfamily {
	font-family:zziconfont!important;
	speak:none;
	font-style:normal;
	font-weight:400;
	font-variant:normal;
	text-transform:none;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
.zziconfont {
	font-family:zziconfont,PingFangSC-Light,helvetica neue,hiragino sans gb,arial,microsoft yahei ui,microsoft yahei,simsun,sans-serif!important
}
.zziconfont-unradio:before {
	content:"\E908";
	color:#9b9b9b
}
.zziconfont-radio:before {
	content:"\E904";
	color:#f55
}
.zziconfont-amplification:before {
	content:"\E905";
	color:#6d6f73
}
.zziconfont-check:before {
	content:"\E907";
	color:#f55
}
.zziconfont-arrow:before {
	content:"\E900";
	color:#9b9b9b
}
.zziconfont-bigarrow:before {
	content:"\E901"
}
.zziconfont-share:before {
	content:"\E902"
}
.zziconfont-uncheck:before {
	content:"\E903";
	color:#9b9b9b
}
.zziconfont-collection:before {
	content:"\E906";
	color:#9b9b9b
}
.zziconfont-like:before {
	content:"\E909";
	color:#f55
}
.zziconfont-dlike:before {
	content:"\E90A";
	color:#9b9b9b
}
.textarea-flow-item {
	position:relative
}
.textarea-flow-item.textarea-item {
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-align-items:flex-start;
	-ms-flex-align:start;
	align-items:flex-start;
	box-sizing:border-box;
	min-height:3.4rem;
	margin:0 .32rem;
	background:#f8f8f8;
	border-radius:.13rem
}
.textarea-label {
	-webkit-flex:1;
	-ms-flex:1;
	flex:1;
	-webkit-align-self:flex-start;
	-ms-flex-item-align:start;
	align-self:flex-start;
	color:#9b9b9b;
	text-align:left;
	font-size:.4rem;
	margin-left:0;
	white-space:nowrap;
	overflow:hidden
}
.textarea-control {
	-webkit-flex:1;
	-ms-flex:1;
	flex:1
}
.textarea-control textarea {
	width:100%;
	padding:.42667rem .32rem;
	font-size:.4rem;
	color:#000;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	box-sizing:border-box;
	background-color:transparent;
	overflow:visible;
	display:block;
	resize:none;
	word-break:break-all;
	word-wrap:break-word;
	border:0
}
.textarea-control textarea::-webkit-input-placeholder {
	color:#9b9b9b;
	border:0
}
.textarea-control textarea:-ms-input-placeholder {
	color:#9b9b9b;
	border:0
}
.textarea-control textarea::placeholder {
	color:#9b9b9b;
	border:0
}
.textarea-count {
	position:absolute;
	bottom:.32rem;
	right:.32rem;
	color:#9b9b9b;
	font-size:.37333rem
}
@charset "UTF-8";
	article,aside,blockquote,body,button,code,dd,details,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,input,legend,li,menu,nav,ol,p,pre,section,td,textarea,th,ul {
	margin:0;
	padding:0
}
body {
	font:.16rem/1.5 Helvetica Neue,Helvetica,Tahoma,Arial,PingFang SC,Hiragino Sans GB,Heiti SC,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
input,select,textarea {
	font-size:100%
}
table {
	border-collapse:collapse;
	border-spacing:0
}
li,ol,ul {
	list-style:none
}
h1,h2,h3,h4,h5,h6 {
	font-weight:400
}
em,i {
	font-style:normal
}
fieldset,img {
	border:0
}
a {
	color:inherit;
	text-decoration:none
}
button {
	outline:none;
	border:none
}
div,form,h2,h3,h4,html,li,p,span,ul {
	word-wrap:break-word;
	word-break:break-all
}
@font-face {
	font-family:zziconfont;
	src:url(https://s1.zhuanstatic.com/common/trade/font/zziconfontl2soix.eot);
	src:url(https://s1.zhuanstatic.com/common/trade/font/zziconfontl2soix.eot#iefix) format("embedded-opentype"),url(https://s1.zhuanstatic.com/common/trade/font/zziconfontl2soix.ttf) format("truetype"),url(https://s1.zhuanstatic.com/common/trade/font/zziconfontl2soix.woff) format("woff"),url(https://img1.zhuanstatic.com/common/trade/img/zziconfontl2soix.svg#zziconfont) format("svg");
	font-weight:400;
	font-style:normal
}
.iconfamily {
	font-family:zziconfont!important;
	speak:none;
	font-style:normal;
	font-weight:400;
	font-variant:normal;
	text-transform:none;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
.zziconfont {
	font-family:zziconfont,PingFangSC-Light,helvetica neue,hiragino sans gb,arial,microsoft yahei ui,microsoft yahei,simsun,sans-serif!important
}
.zziconfont-unradio:before {
	content:"\E908";
	color:#9b9b9b
}
.zziconfont-radio:before {
	content:"\E904";
	color:#f55
}
.zziconfont-amplification:before {
	content:"\E905";
	color:#6d6f73
}
.zziconfont-check:before {
	content:"\E907";
	color:#f55
}
.zziconfont-arrow:before {
	content:"\E900";
	color:#9b9b9b
}
.zziconfont-bigarrow:before {
	content:"\E901"
}
.zziconfont-share:before {
	content:"\E902"
}
.zziconfont-uncheck:before {
	content:"\E903";
	color:#9b9b9b
}
.zziconfont-collection:before {
	content:"\E906";
	color:#9b9b9b
}
.zziconfont-like:before {
	content:"\E909";
	color:#f55
}
.zziconfont-dlike:before {
	content:"\E90A";
	color:#9b9b9b
}
body {
	background:#fff
}
#react,.rooter,body,html {
	height:100%
}
.rooter {
	width:100%
}
.rooter.iphonex .bottom-submit {
	padding-bottom:.27rem
}
.bottom-place,.bottom-submit {
	height:1.30667rem
}
.bottom-submit {
	background:#fff;
	position:fixed;
	bottom:0
}
.bottom-submit-btn {
	width:8.36rem;
	height:.96rem;
	line-height:.96rem;
	text-align:center;
	margin:.13333rem .32rem;
	font-size:.42667rem;
	color:#fff;
	border-radius:.13333rem;
	background:#f55
}
.bottom-submit-btn span.not {
	opacity:.2
}
.split-line {
	content:"";
	display:block;
	width:100%;
	height:.32rem;
	background:#f8f8f8
}
.am-toast {
	font-size:.34667rem
}
.single-card {
	position:relative
}
.am-image-picker-list {
	padding:0;
	margin-bottom:0
}
.am-picker-popup-header {
	background:none
}
.am-picker-popup-item {
	padding:.53333rem .57333rem;
	font-size:.45333rem;
	color:#f55;
	letter-spacing:0
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx) {
	html:not([data-scale]) .am-picker-popup-header:after {
	height:0
}
}.zz-picker {
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center
}
.zz-picker-item {
	-webkit-flex:1;
	-ms-flex:1;
	flex:1;
	text-align:center
}
.zz-picker-col {
	display:block;
	position:relative;
	height:8.02667rem;
	overflow:hidden;
	width:100%
}
.zz-picker-col-content {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	z-index:1;
	padding:3.44rem 0
}
.zz-picker-col-item {
	-ms-touch-action:manipulation;
	touch-action:manipulation;
	height:1.14667rem;
	line-height:1.14667rem;
	font-size:.50667rem;
	color:#c6c6c6;
	text-align:center;
	white-space:nowrap;
	text-overflow:ellipsis
}
.zz-picker-col-item-selected {
	color:#2e3135
}
.zz-picker-col-mask {
	top:0;
	height:100%;
	margin:0 auto;
	background-image:-webkit-linear-gradient(top,hsla(0,0%,100%,.95),hsla(0,0%,100%,.6)),-webkit-linear-gradient(bottom,hsla(0,0%,100%,.95),hsla(0,0%,100%,.6));
	background-image:linear-gradient(180deg,hsla(0,0%,100%,.95),hsla(0,0%,100%,.6)),linear-gradient(0deg,hsla(0,0%,100%,.95),hsla(0,0%,100%,.6));
	background-position:top,bottom;
	background-size:100% 3.44rem;
	background-repeat:no-repeat
}
.zz-picker-col-indicator,.zz-picker-col-mask {
	position:absolute;
	left:0;
	width:100%;
	z-index:3
}
.zz-picker-col-indicator {
	border-top:1px solid #e7e7e7;
	border-bottom:1px solid #e7e7e7;
	box-sizing:border-box;
	height:1.14667rem;
	top:3.44rem
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx) {
	html:not([data-scale]) .zz-picker-col-indicator {
	border-top:none
}
html:not([data-scale]) .zz-picker-col-indicator:before {
	content:"";
	position:absolute;
	background-color:#e7e7e7;
	display:block;
	z-index:1;
	top:0;
	right:auto;
	bottom:auto;
	left:0;
	width:100%;
	height:1px;
	-webkit-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	transform-origin:50% 50%;
	-webkit-transform:scaleY(.5);
	-ms-transform:scaleY(.5);
	transform:scaleY(.5)
}
}@media (-webkit-min-device-pixel-ratio:2) and (-webkit-min-device-pixel-ratio:3),(min-resolution:2dppx) and (min-resolution:3dppx) {
	html:not([data-scale]) .zz-picker-col-indicator:before {
	-webkit-transform:scaleY(.33);
	-ms-transform:scaleY(.33);
	transform:scaleY(.33)
}
}@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx) {
	html:not([data-scale]) .zz-picker-col-indicator {
	border-bottom:none
}
html:not([data-scale]) .zz-picker-col-indicator:after {
	content:"";
	position:absolute;
	background-color:#e7e7e7;
	display:block;
	z-index:1;
	top:auto;
	right:auto;
	bottom:0;
	left:0;
	width:100%;
	height:1px;
	-webkit-transform-origin:50% 100%;
	-ms-transform-origin:50% 100%;
	transform-origin:50% 100%;
	-webkit-transform:scaleY(.5);
	-ms-transform:scaleY(.5);
	transform:scaleY(.5)
}
}@media (-webkit-min-device-pixel-ratio:2) and (-webkit-min-device-pixel-ratio:3),(min-resolution:2dppx) and (min-resolution:3dppx) {
	html:not([data-scale]) .zz-picker-col-indicator:after {
	-webkit-transform:scaleY(.33);
	-ms-transform:scaleY(.33);
	transform:scaleY(.33)
}
}.rooter.pc {
	width:970px;
	margin:0 auto
}
.ship {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	height:100%;
	overflow:auto
}
.ship.fixed {
	position:fixed;
	top:0;
	overflow:hidden
}
.ship .split-line {
	content:"";
	display:block;
	width:100%;
	height:.32rem;
	background:#f8f8f8
}
.ship-list {
	-webkit-flex-basis:auto;
	-ms-flex-preferred-size:auto;
	flex-basis:auto;
	-webkit-flex:1;
	-ms-flex:1;
	flex:1
}
.ship-header {
	height:.96rem;
	line-height:.96rem;
	padding:0 .30667rem;
	color:#f55;
	background:#fee
}
.ship-right {
	margin:.53333rem .30667rem 0 0;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center
}
.ship-right .text {
	-webkit-flex:1;
	-ms-flex:1;
	flex:1;
	font-size:.42667rem;
	color:#9b9b9b;
	text-align:right
}
.ship-right .arrow {
	display:block;
	width:.42667rem;
	height:.42667rem;
	margin-left:.11rem;
	background-image:url("data:image/svg+xml;
	charset=utf-8,%3Csvg width='16' height='26' viewBox='0 0 16 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 0L0 2l11.5 11L0 24l2 2 14-13z' fill='%23C7C7CC' fill-rule='evenodd'/%3E%3C/svg%3E");
	background-size:contain;
	background-repeat:no-repeat;
	background-position:50%
      50%;
	visibility:visible
}
.ship-submit {
	height:1.30667rem;
	background:#fff
}
.ship-submit-btn {
	width:9.36rem;
	height:.96rem;
	line-height:.96rem;
	margin:.13333rem .32rem;
	font-size:.42667rem;
	color:#fff;
	border-radius:.13rem;
	background:#f55
}
.ship .input-label,.ship .item-flow-content {
	font-size:.42667rem;
	color:#9b9b9b
}
.ship .item-flow-line {
	padding-right:0
}
.ship .item-flow-extra {
	color:#2e3135
}
.ship .textarea-item {
	min-height:1.44rem;
	border-bottom:1px solid #e7e7e7;
	background:#fff
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx) {
	html:not([data-scale]) .ship .textarea-item {
	border-bottom:none
}
html:not([data-scale]) .ship .textarea-item:after {
	content:"";
	position:absolute;
	background-color:#e7e7e7;
	display:block;
	z-index:1;
	top:auto;
	right:auto;
	bottom:0;
	left:0;
	width:100%;
	height:1px;
	-webkit-transform-origin:50% 100%;
	-ms-transform-origin:50% 100%;
	transform-origin:50% 100%;
	-webkit-transform:scaleY(.5);
	-ms-transform:scaleY(.5);
	transform:scaleY(.5)
}
}@media (-webkit-min-device-pixel-ratio:2) and (-webkit-min-device-pixel-ratio:3),(min-resolution:2dppx) and (min-resolution:3dppx) {
	html:not([data-scale]) .ship .textarea-item:after {
	-webkit-transform:scaleY(.33);
	-ms-transform:scaleY(.33);
	transform:scaleY(.33)
}
}.ship .textarea-label {
	padding:.32rem 0
}
.ship .textarea-control {
	-webkit-flex:2;
	-ms-flex:2;
	flex:2;
	padding-right:.21rem
}
.ship .textarea-control textarea {
	padding:.32rem 0;
	font-size:.42667rem;
	color:#2e3135
}
.rooter.pc .bottom-submit,.rooter.pc .ship {
	width:970px;
	margin:0 auto
}
.rooter.pc .bottom-submit-btn {
	width:12rem
}
@charset "UTF-8";

article,aside,blockquote,body,button,code,dd,details,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,input,legend,li,menu,nav,ol,p,pre,section,td,textarea,th,ul {
	margin: 0;
	padding: 0
}

body {
	font: .16rem/1.5 Helvetica Neue,Helvetica,Tahoma,Arial,PingFang SC,Hiragino Sans GB,Heiti SC,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fff
}

input,select,textarea {
	font-size: 100%
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

li,ol,ul {
	list-style: none
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 400
}

em,i {
	font-style: normal
}

fieldset,img {
	border: 0
}

a {
	color: inherit;
	text-decoration: none
}

button {
	outline: none;
	border: none
}

div,form,h2,h3,h4,html,li,p,span,ul {
	word-wrap: break-word;
	word-break: break-all
}

@font-face {
	font-family:zziconfont;src:url(https://s1.zhuanstatic.com/common/trade/font/zziconfontl2soix.eot);src:url(https://s1.zhuanstatic.com/common/trade/font/zziconfontl2soix.eot#iefix) format("embedded-opentype"),url(https://s1.zhuanstatic.com/common/trade/font/zziconfontl2soix.ttf) format("truetype"),url(https://s1.zhuanstatic.com/common/trade/font/zziconfontl2soix.woff) format("woff"),url(https://img1.zhuanstatic.com/common/trade/img/zziconfontl2soix.svg#zziconfont) format("svg");font-weight:400;font-style:normal
}

.iconfamily {
	font-family: zziconfont!important;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.zziconfont {
	font-family: zziconfont,PingFangSC-Light,helvetica neue,hiragino sans gb,arial,microsoft yahei ui,microsoft yahei,simsun,sans-serif!important
}

.zziconfont-unradio:before {
	content: "\E908";
	color: #9b9b9b
}

.zziconfont-radio:before {
	content: "\E904";
	color: #f55
}

.zziconfont-amplification:before {
	content: "\E905";
	color: #6d6f73
}

.zziconfont-check:before {
	content: "\E907";
	color: #f55
}

.zziconfont-arrow:before {
	content: "\E900";
	color: #9b9b9b
}

.zziconfont-bigarrow:before {
	content: "\E901"
}

.zziconfont-share:before {
	content: "\E902"
}

.zziconfont-uncheck:before {
	content: "\E903";
	color: #9b9b9b
}

.zziconfont-collection:before {
	content: "\E906";
	color: #9b9b9b
}

.zziconfont-like:before {
	content: "\E909";
	color: #f55
}

.zziconfont-dlike:before {
	content: "\E90A";
	color: #9b9b9b
}

.textarea-flow-item {
	position: relative
}

.textarea-flow-item.textarea-item {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	box-sizing: border-box;
	min-height: 3.4rem;
	margin: 0 .32rem;
	background: #f8f8f8;
	border-radius: .13rem
}

.textarea-label {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-align-self: flex-start;
	-ms-flex-item-align: start;
	align-self: flex-start;
	color: #9b9b9b;
	text-align: left;
	font-size: .4rem;
	margin-left: 0;
	white-space: nowrap;
	overflow: hidden
}

.textarea-control {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1
}

.textarea-control textarea {
	width: 100%;
	padding: .42667rem .32rem;
	font-size: .4rem;
	color: #000;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-sizing: border-box;
	background-color: transparent;
	overflow: visible;
	display: block;
	resize: none;
	word-break: break-all;
	word-wrap: break-word;
	border: 0
}

.textarea-control textarea::-webkit-input-placeholder {
	color: #9b9b9b;
	border: 0
}

.textarea-control textarea:-ms-input-placeholder {
	color: #9b9b9b;
	border: 0
}

.textarea-control textarea::placeholder {
	color: #9b9b9b;
	border: 0
}

.textarea-count {
	position: absolute;
	bottom: .32rem;
	right: .32rem;
	color: #9b9b9b;
	font-size: .37333rem
}
