@font-face {
    font-family: "zziconfont";
    src: url('../fonts/zziconfont-4.0.0.eot');
    /* IE9*/
    src: url('../fonts/zziconfont-4.0.0.woff') format('woff'),
        /* chrome, firefox */
        url('../fonts/zziconfont-4.0.0.ttf') format('truetype'),
        /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
        url('../img/zziconfont-4.0.0.svg#zziconfont-4.0.0') format('svg');
    /* iOS 4.1- */
}

.zziconfont {
    font-family: "zziconfont" !important;
    font-size: inherit;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

.zziconfont-hunter-cart:before {
    content: "\e06d";
}

.zziconfont-hunter-download:before {
    content: "\e06e";
}

.zziconfont-hunter-message:before {
    content: "\e06f";
}

.zziconfont-hunter-more:before {
    content: "\e070";
}

.zziconfont-hunter-scan:before {
    content: "\e071";
}

.zziconfont-hunter-search:before {
    content: "\e072";
}

.zziconfont-hunter-service:before {
    content: "\e073";
}

.zziconfont-hunter-setting:before {
    content: "\e074";
}

.zziconfont-hunter-share:before {
    content: "\e075";
}

.zziconfont-zlj-add:before {
    content: "\e076";
}

.zziconfont-zlj-ascend:before {
    content: "\e077";
}

.zziconfont-zlj-back:before {
    content: "\e078";
}

.zziconfont-zlj-bell:before {
    content: "\e079";
}

.zziconfont-zlj-cart:before {
    content: "\e07a";
}

.zziconfont-zlj-close-o:before {
    content: "\e07b";
}

.zziconfont-zlj-close:before {
    content: "\e07c";
}

.zziconfont-zlj-compare:before {
    content: "\e07d";
}

.zziconfont-zlj-descend:before {
    content: "\e07e";
}

.zziconfont-zlj-filter:before {
    content: "\e07f";
}

.zziconfont-zlj-fold:before {
    content: "\e080";
}

.zziconfont-zlj-more:before {
    content: "\e081";
}

.zziconfont-zlj-next:before {
    content: "\e082";
}

.zziconfont-zlj-notebook:before {
    content: "\e083";
}

.zziconfont-zlj-pad:before {
    content: "\e084";
}

.zziconfont-zlj-phone:before {
    content: "\e085";
}

.zziconfont-zlj-search:before {
    content: "\e086";
}

.zziconfont-zlj-service:before {
    content: "\e087";
}

.zziconfont-zlj-setting:before {
    content: "\e088";
}

.zziconfont-zlj-share:before {
    content: "\e089";
}

.zziconfont-zlj-sort:before {
    content: "\e08a";
}

.zziconfont-zlj-toast-fail:before {
    content: "\e08b";
}

.zziconfont-zlj-toast-success:before {
    content: "\e08c";
}

.zziconfont-zlj-toast-warn:before {
    content: "\e08d";
}

.zziconfont-zlj-unfold:before {
    content: "\e08e";
}

.zziconfont-zlj-want-o:before {
    content: "\e08f";
}

.zziconfont-zlj-want:before {
    content: "\e090";
}

.zziconfont-zlj-watch:before {
    content: "\e091";
}

.zziconfont-zlj-check:before {
    content: "\e093";
}

.zziconfont-zlj-close-text:before {
    content: "\e094";
}

.zziconfont-zlj-info:before {
    content: "\e095";
}

.zziconfont-zlj-next-o:before {
    content: "\e096";
}

.zziconfont-zlj-uncheck:before {
    content: "\e097";
}

.zziconfont-hunter-info:before {
    content: "\e098";
}

.zziconfont-hunter-want-o:before {
    content: "\e099";
}

.zziconfont-hunter-want:before {
    content: "\e09a";
}

.zziconfont-hunter-yuan:before {
    content: "\e09b";
}

.zziconfont-hunter-back:before {
    content: "\e06c";
}

.zziconfont-amplification:before {
    content: "\e09c";
}

.zziconfont-arrow-left:before {
    content: "\e09d";
}

.zziconfont-bell:before {
    content: "\e0a0";
}

.zziconfont-camera:before {
    content: "\e0a1";
}

.zziconfont-cart:before {
    content: "\e0a2";
}

.zziconfont-check:before {
    content: "\e0a3";
}

.zziconfont-close-text:before {
    content: "\e0a4";
}

.zziconfont-collection:before {
    content: "\e0a5";
}

.zziconfont-comment-o:before {
    content: "\e0a6";
}

.zziconfont-delete:before {
    content: "\e0a7";
}

.zziconfont-dlike:before {
    content: "\e0a8";
}

.zziconfont-file:before {
    content: "\e0a9";
}

.zziconfont-foot:before {
    content: "\e0aa";
}

.zziconfont-info:before {
    content: "\e0ad";
}

.zziconfont-light:before {
    content: "\e0ae";
}

.zziconfont-like:before {
    content: "\e0af";
}

.zziconfont-message:before {
    content: "\e0b0";
}

.zziconfont-more:before {
    content: "\e0b1";
}

.zziconfont-pay:before {
    content: "\e0b2";
}

.zziconfont-repost:before {
    content: "\e0b4";
}

.zziconfont-scan:before {
    content: "\e0b5";
}

.zziconfont-service:before {
    content: "\e0b6";
}

.zziconfont-setting:before {
    content: "\e0b7";
}

.zziconfont-share:before {
    content: "\e0b8";
}

.zziconfont-tel:before {
    content: "\e0ba";
}

.zziconfont-top:before {
    content: "\e0bb";
}

.zziconfont-uncheck:before {
    content: "\e0bc";
}

.zziconfont-want:before {
    content: "\e0bd";
}

.zziconfont-warning-text:before {
    content: "\e0be";
}

.zziconfont-arrow:before {
    content: "\e092";
}

.zziconfont-bigarrow:before {
    content: "\e0bf";
}

.zziconfont-comment:before {
    content: "\e0c0";
}

.zziconfont-consult:before {
    content: "\e0c1";
}

.zziconfont-document:before {
    content: "\e0c2";
}

.zziconfont-download:before {
    content: "\e0c3";
}

.zziconfont-logistics:before {
    content: "\e0c4";
}

.zziconfont-off-loading:before {
    content: "\e0c5";
}

.zziconfont-radio:before {
    content: "\e0c6";
}

.zziconfont-scan-l:before {
    content: "\e0c7";
}

.zziconfont-setting-l:before {
    content: "\e0c8";
}

.zziconfont-unradio:before {
    content: "\e0c9";
}

.zziconfont-weixin:before {
    content: "\e0ca";
}

.zziconfont-arrow-right:before {
    content: "\e0cb";
}

.zziconfont-caret-down:before {
    content: "\e0cc";
}

.zziconfont-caret-up:before {
    content: "\e0cd";
}

.zziconfont-close-text-o:before {
    content: "\e0cf";
}

.zziconfont-filter:before {
    content: "\e0d1";
}

.zziconfont-fold:before {
    content: "\e0d2";
}

.zziconfont-order:before {
    content: "\e0d5";
}

.zziconfont-refresh:before {
    content: "\e0d6";
}

.zziconfont-unfold:before {
    content: "\e0d7";
}

.zziconfont-toast-fail:before {
    content: "\e0e8";
}

.zziconfont-toast-network:before {
    content: "\e0e9";
}

.zziconfont-toast-success:before {
    content: "\e0ea";
}